# pip install torch==2.2.0 torchvision==0.17.0 --index-url https://download.pytorch.org/whl/cpu
accelerate==0.23.0
numpy==1.24.0
tqdm==4.66.1
huggingface-hub==0.20.3
tokenizers==0.15.1
transformers==4.37.2